exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(dplyr)
import(shiny)
importFrom(data.table, fread)
importFrom(stringr, str_detect, str_subset, str_glue, str_trunc)
importFrom(plotly, ggplotly)
importFrom(shinyWidgets, pickerInput)
importFrom(memoise, memoise)
